#windows:
Thumbs.db
ehthumbs.db
Desktop.ini

#macos:
.DS_Store

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build

# vs code
*.vscode

# others
# ulysses temp file.
.Ulysses-Group.plist 
.Ulysses-favorites.plist

